---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign proxdm = site.publications | where_exp: "item", "item.path contains 'beyond_scores'" | first %}
    {% assign oligo = site.publications | where_exp: "item", "item.path contains 'brain-wide-oligodendrocyte-mapping'" | first %}
    {% assign rest = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% assign rest = rest | where_exp: "item", "item.path != proxdm.path" %}
    {% assign rest = rest | where_exp: "item", "item.path != oligo.path" %}
    {% assign pubs = "" | split: "" | push: proxdm | push: oligo | concat: rest %}
    {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}
