@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.card {
    border-radius: 0.8rem!important;
}

.card-img-overlay {
    border-radius: 0.8rem!important;
}

.rounded-xl {
    border-radius: 0.8rem!important;
}

.rounded-xl-bottom {
    border-bottom-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
}

.rounded-xl-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}


.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.text-profile-bio {
  margin-bottom: 1rem;   /* increase to taste: 1rem ≈ 16px */
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

.profile-logo {
    height: 30px !important;  /* adjust as needed */
    width: auto !important;
}

.badge { border: 1px solid #ddd; /*background: #f8f9fa; */ } /* optional base */
.badge[class*="topic-"] { border: 1px solid #ddd; }

.topic-ml-interpretability   { background: #e0f7fa; color: #006064; }  /* teal */
.topic-theory             { background: #f3e5f5; color: #4a148c; }  /* purple */
.topic-imaging            { background: #e8f5e9; color: #1b5e20; }  /* green */
.topic-digital-pathology   { background: #fff3e0; color: #e65100; }  /* orange */
.topic-biomarker-discovery { background: #e8eaf6; color: #1a237e; }  /* soft indigo (example) */
.topic-generative-ai  { background: #ede7f6; color: #311b92; }  /* deep indigo */
.topic-diffusion-models          { background: #e3f2fd; color: #0d47a1; }  /* blue */
.topic-causality          { background: #fbe9e7; color: #bf360c; }  /* burnt orange */
.topic-ml-trustworthiness         { background: #f1f8e9; color: #33691e; }  /* dark green */
.topic-applications       { background: #fce4ec; color: #880e4f; }  /* magenta */
/* add more as needed */

